<a href="https://colab.research.google.com/github/jiashenyue/salary-insights/blob/main/Data_Science_Insights_Part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
# This is formatted as code
```

#Part 2: Data Cleaning

Shenyue Jia | [jiashenyue.info](https://jiashenyue.info)

###About the data
The salary data for data scientist is collected and prepared by [Analytics Vidhya](https://datahack.analyticsvidhya.com/contest/practice-problem-big-mart-sales-iii/).

###Load data

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:
import pandas as pd
file_url = '/content/drive/MyDrive/Coding-Dojo-Data-Science/project-1-data-science-salary-insights/data/sales_predictions.csv'

In [9]:
# load data
df = pd.read_csv(file_url)
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

###1. How many rows and columns?
We can use `df.infor()` or `df.shape` to check how many rows and columns are in the dataframe.


*   Rows: `8523`
*   Coluums: `12`

In [10]:
# check out basic dataframe information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [11]:
# try another way
df.shape

(8523, 12)

###2. What are the datatypes of each variable?

In [12]:
# get variable types
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

###3. Are there duplicates? If so, drop any duplicates.
After checking with `df.duplicated()`, we found there is no duplicated rows in the dataframe.

In [18]:
#identify duplicate rows
duplicateRows = df[df.duplicated()]
print(f'There are {len(duplicateRows)} duplicated rows in the dataframe')

There are 0 duplicated rows in the dataframe

###4. Identify missing values.
We can use `isnull()` to check if there are any missing values. 
It looks like `Item_Weight` and `Outlet_Size` have missing values.

In [23]:
# using isnull() function 
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

###5. Decide on how to address the missing values and do it!
We can check if there are any common patterns in the missing values. If not, we can utilize one of the missing data treatment to fill in the null values.

####5.1 Check `Item_Weight`

In [35]:
# check what kind of data have missing values
nullRowsItemWeight = df[df['Item_Weight'].isnull()]
nullRowsItemWeight.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
18,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
21,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
23,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
29,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362

In [34]:
# check if there is any patterns in missing data
nullRowsItemWeight.groupby(['Item_Type','Outlet_Size','Outlet_Type']).count()

                                                     Item_Identifier  \
Item_Type             Outlet_Size Outlet_Type
Baking Goods          Medium      Supermarket Type3               69
                      Small       Grocery Store                   43
Breads                Medium      Supermarket Type3               31
                      Small       Grocery Store                   16
Breakfast             Medium      Supermarket Type3               11
                      Small       Grocery Store                   10
Canned                Medium      Supermarket Type3               72
                      Small       Grocery Store                   38
Dairy                 Medium      Supermarket Type3               67
                      Small       Grocery Store                   49
Frozen Foods          Medium      Supermarket Type3               89
                      Small       Grocery Store                   49
Fruits and Vegetables Medium      Supermarket Type3              140
                      Small       Grocery Store                   73
Hard Drinks           Medium      Supermarket Type3               23
                      Small       Grocery Store                    8
Health and Hygiene    Medium      Supermarket Type3               60
                      Small       Grocery Store                   30
Household             Medium      Supermarket Type3               99
                      Small       Grocery Store                   52
Meat                  Medium      Supermarket Type3               56
                      Small       Grocery Store                   32
Others                Medium      Supermarket Type3               15
                      Small       Grocery Store                   17
Seafood               Medium      Supermarket Type3                7
                      Small       Grocery Store                    6
Snack Foods           Medium      Supermarket Type3              137
                      Small       Grocery Store                   75
Soft Drinks           Medium      Supermarket Type3               45
                      Small       Grocery Store                   26
Starchy Foods         Medium      Supermarket Type3               14
                      Small       Grocery Store                    4

                                                     Item_Weight  \
Item_Type             Outlet_Size Outlet_Type
Baking Goods          Medium      Supermarket Type3            0
                      Small       Grocery Store                0
Breads                Medium      Supermarket Type3            0
                      Small       Grocery Store                0
Breakfast             Medium      Supermarket Type3            0
                      Small       Grocery Store                0
Canned                Medium      Supermarket Type3            0
                      Small       Grocery Store                0
Dairy                 Medium      Supermarket Type3            0
                      Small       Grocery Store                0
Frozen Foods          Medium      Supermarket Type3            0
                      Small       Grocery Store                0
Fruits and Vegetables Medium      Supermarket Type3            0
                      Small       Grocery Store                0
Hard Drinks           Medium      Supermarket Type3            0
                      Small       Grocery Store                0
Health and Hygiene    Medium      Supermarket Type3            0
                      Small       Grocery Store                0
Household             Medium      Supermarket Type3            0
                      Small       Grocery Store                0
Meat                  Medium      Supermarket Type3            0
                      Small       Grocery Store                0
Others                Medium      Supermarket Type3            0
                      Small       Grocery Store                0
Seafood               Medium      Supermarket Type3            0
                      Small       Grocery Store                0
Snack Foods           Medium      Supermarket Type3            0
                      Small       Grocery Store                0
Soft Drinks           Medium      Supermarket Type3            0
                      Small       Grocery Store                0
Starchy Foods         Medium      Supermarket Type3            0
                      Small       Grocery Store                0

                                                     Item_Fat_Content  \
Item_Type             Outlet_Size Outlet_Type
Baking Goods          Medium      Supermarket Type3                69
                      Small       Grocery Store                    43
Breads                Medium      Supermarket Type3                31
                      Small       Grocery Store                    16
Breakfast             Medium      Supermarket Type3                11
                      Small       Grocery Store                    10
Canned                Medium      Supermarket Type3                72
                      Small       Grocery Store                    38
Dairy                 Medium      Supermarket Type3                67
                      Small       Grocery Store                    49
Frozen Foods          Medium      Supermarket Type3                89
                      Small       Grocery Store                    49
Fruits and Vegetables Medium      Supermarket Type3               140
                      Small       Grocery Store                    73
Hard Drinks           Medium      Supermarket Type3                23
                      Small       Grocery Store                     8
Health and Hygiene    Medium      Supermarket Type3                60
                      Small       Grocery Store                    30
Household             Medium      Supermarket Type3                99
                      Small       Grocery Store                    52
Meat                  Medium      Supermarket Type3                56
                      Small       Grocery Store                    32
Others                Medium      Supermarket Type3                15
                      Small       Grocery Store                    17
Seafood               Medium      Supermarket Type3                 7
                      Small       Grocery Store                     6
Snack Foods           Medium      Supermarket Type3               137
                      Small       Grocery Store                    75
Soft Drinks           Medium      Supermarket Type3                45
                      Small       Grocery Store                    26
Starchy Foods         Medium      Supermarket Type3                14
                      Small       Grocery Store                     4

                                                     Item_Visibility  \
Item_Type             Outlet_Size Outlet_Type
Baking Goods          Medium      Supermarket Type3               69
                      Small       Grocery Store                   43
Breads                Medium      Supermarket Type3               31
                      Small       Grocery Store                   16
Breakfast             Medium      Supermarket Type3               11
                      Small       Grocery Store                   10
Canned                Medium      Supermarket Type3               72
                      Small       Grocery Store                   38
Dairy                 Medium      Supermarket Type3               67
                      Small       Grocery Store                   49
Frozen Foods          Medium      Supermarket Type3               89
                      Small       Grocery Store                   49
Fruits and Vegetables Medium      Supermarket Type3              140
                      Small       Grocery Store                   73
Hard Drinks           Medium      Supermarket Type3               23
                      Small       Grocery Store                    8
Health and Hygiene    Medium      Supermarket Type3               60
                      Small       Grocery Store                   30
Household             Medium      Supermarket Type3               99
                      Small       Grocery Store                   52
Meat                  Medium      Supermarket Type3               56
                      Small       Grocery Store                   32
Others                Medium      Supermarket Type3               15
                      Small       Grocery Store                   17
Seafood               Medium      Supermarket Type3                7
                      Small       Grocery Store                    6
Snack Foods           Medium      Supermarket Type3              137
                      Small       Grocery Store                   75
Soft Drinks           Medium      Supermarket Type3               45
                      Small       Grocery Store                   26
Starchy Foods         Medium      Supermarket Type3               14
                      Small       Grocery Store                    4

                                                     Item_MRP  \
Item_Type             Outlet_Size Outlet_Type
Baking Goods          Medium      Supermarket Type3        69
                      Small       Grocery Store            43
Breads                Medium      Supermarket Type3        31
                      Small       Grocery Store            16
Breakfast             Medium      Supermarket Type3        11
                      Small       Grocery Store            10
Canned                Medium      Supermarket Type3        72
                      Small       Grocery Store            38
Dairy                 Medium      Supermarket Type3        67
                      Small       Grocery Store            49
Frozen Foods          Medium      Supermarket Type3        89
                      Small       Grocery Store            49
Fruits and Vegetables Medium      Supermarket Type3       140
                      Small       Grocery Store            73
Hard Drinks           Medium      Supermarket Type3        23
                      Small       Grocery Store             8
Health and Hygiene    Medium      Supermarket Type3        60
                      Small       Grocery Store            30
Household             Medium      Supermarket Type3        99
                      Small       Grocery Store            52
Meat                  Medium      Supermarket Type3        56
                      Small       Grocery Store            32
Others                Medium      Supermarket Type3        15
                      Small       Grocery Store            17
Seafood               Medium      Supermarket Type3         7
                      Small       Grocery Store             6
Snack Foods           Medium      Supermarket Type3       137
                      Small       Grocery Store            75
Soft Drinks           Medium      Supermarket Type3        45
                      Small       Grocery Store            26
Starchy Foods         Medium      Supermarket Type3        14
                      Small       Grocery Store             4

                                                     Outlet_Identifier  \
Item_Type             Outlet_Size Outlet_Type
Baking Goods          Medium      Supermarket Type3                 69
                      Small       Grocery Store                     43
Breads                Medium      Supermarket Type3                 31
                      Small       Grocery Store                     16
Breakfast             Medium      Supermarket Type3                 11
                      Small       Grocery Store                     10
Canned                Medium      Supermarket Type3                 72
                      Small       Grocery Store                     38
Dairy                 Medium      Supermarket Type3                 67
                      Small       Grocery Store                     49
Frozen Foods          Medium      Supermarket Type3                 89
                      Small       Grocery Store                     49
Fruits and Vegetables Medium      Supermarket Type3                140
                      Small       Grocery Store                     73
Hard Drinks           Medium      Supermarket Type3                 23
                      Small       Grocery Store                      8
Health and Hygiene    Medium      Supermarket Type3                 60
                      Small       Grocery Store                     30
Household             Medium      Supermarket Type3                 99
                      Small       Grocery Store                     52
Meat                  Medium      Supermarket Type3                 56
                      Small       Grocery Store                     32
Others                Medium      Supermarket Type3                 15
                      Small       Grocery Store                     17
Seafood               Medium      Supermarket Type3                  7
                      Small       Grocery Store                      6
Snack Foods           Medium      Supermarket Type3                137
                      Small       Grocery Store                     75
Soft Drinks           Medium      Supermarket Type3                 45
                      Small       Grocery Store                     26
Starchy Foods         Medium      Supermarket Type3                 14
                      Small       Grocery Store                      4

                                                     Outlet_Establishment_Year  \
Item_Type             Outlet_Size Outlet_Type
Baking Goods          Medium      Supermarket Type3                         69
                      Small       Grocery Store                             43
Breads                Medium      Supermarket Type3                         31
                      Small       Grocery Store                             16
Breakfast             Medium      Supermarket Type3                         11
                      Small       Grocery Store                             10
Canned                Medium      Supermarket Type3                         72
                      Small       Grocery Store                             38
Dairy                 Medium      Supermarket Type3                         67
                      Small       Grocery Store                             49
Frozen Foods          Medium      Supermarket Type3                         89
                      Small       Grocery Store                             49
Fruits and Vegetables Medium      Supermarket Type3                        140
                      Small       Grocery Store                             73
Hard Drinks           Medium      Supermarket Type3                         23
                      Small       Grocery Store                              8
Health and Hygiene    Medium      Supermarket Type3                         60
                      Small       Grocery Store                             30
Household             Medium      Supermarket Type3                         99
                      Small       Grocery Store                             52
Meat                  Medium      Supermarket Type3                         56
                      Small       Grocery Store                             32
Others                Medium      Supermarket Type3                         15
                      Small       Grocery Store                             17
Seafood               Medium      Supermarket Type3                          7
                      Small       Grocery Store                              6
Snack Foods           Medium      Supermarket Type3                        137
                      Small       Grocery Store                             75
Soft Drinks           Medium      Supermarket Type3                         45
                      Small       Grocery Store                             26
Starchy Foods         Medium      Supermarket Type3                         14
                      Small       Grocery Store                              4

                                                     Outlet_Location_Type  \
Item_Type             Outlet_Size Outlet_Type
Baking Goods          Medium      Supermarket Type3                    69
                      Small       Grocery Store                        43
Breads                Medium      Supermarket Type3                    31
                      Small       Grocery Store                        16
Breakfast             Medium      Supermarket Type3                    11
                      Small       Grocery Store                        10
Canned                Medium      Supermarket Type3                    72
                      Small       Grocery Store                        38
Dairy                 Medium      Supermarket Type3                    67
                      Small       Grocery Store                        49
Frozen Foods          Medium      Supermarket Type3                    89
                      Small       Grocery Store                        49
Fruits and Vegetables Medium      Supermarket Type3                   140
                      Small       Grocery Store                        73
Hard Drinks           Medium      Supermarket Type3                    23
                      Small       Grocery Store                         8
Health and Hygiene    Medium      Supermarket Type3                    60
                      Small       Grocery Store                        30
Household             Medium      Supermarket Type3                    99
                      Small       Grocery Store                        52
Meat                  Medium      Supermarket Type3                    56
                      Small       Grocery Store                        32
Others                Medium      Supermarket Type3                    15
                      Small       Grocery Store                        17
Seafood               Medium      Supermarket Type3                     7
                      Small       Grocery Store                         6
Snack Foods           Medium      Supermarket Type3                   137
                      Small       Grocery Store                        75
Soft Drinks           Medium      Supermarket Type3                    45
                      Small       Grocery Store                        26
Starchy Foods         Medium      Supermarket Type3                    14
                      Small       Grocery Store                         4

                                                     Item_Outlet_Sales
Item_Type             Outlet_Size Outlet_Type
Baking Goods          Medium      Supermarket Type3                 69
                      Small       Grocery Store                     43
Breads                Medium      Supermarket Type3                 31
                      Small       Grocery Store                     16
Breakfast             Medium      Supermarket Type3                 11
                      Small       Grocery Store                     10
Canned                Medium      Supermarket Type3                 72
                      Small       Grocery Store                     38
Dairy                 Medium      Supermarket Type3                 67
                      Small       Grocery Store                     49
Frozen Foods          Medium      Supermarket Type3                 89
                      Small       Grocery Store                     49
Fruits and Vegetables Medium      Supermarket Type3                140
                      Small       Grocery Store                     73

I was not able to find any dominating patterns of missing values in the `Item_Weight` column.

####5.2 Check `Outlet_Size`
We can compare the characteristics of other numeric columns in all data and the missing rows to make some judgement about the outlet size for the missing rows.

In [36]:
# check what kind of data have missing values
nullRowsOutletSize = df[df['Outlet_Size'].isnull()]
nullRowsOutletSize.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350
25,NCD06,13.000,Low Fat,0.099887,Household,45.9060,OUT017,2007,NaN,Tier 2,Supermarket Type1,838.9080
28,FDE51,5.925,Regular,0.161467,Dairy,45.5086,OUT010,1998,NaN,Tier 3,Grocery Store,178.4344

In [57]:
# check the basic characteristics all data
df.groupby(['Outlet_Location_Type','Outlet_Size']).median()

                                  Item_Weight  Item_Visibility  Item_MRP  \
Outlet_Location_Type Outlet_Size
Tier 1               Medium             12.65         0.048937  141.8154
                     Small              12.60         0.061742  143.8115
Tier 2               Small              12.55         0.053688  145.9760
Tier 3               High               12.85         0.049587  142.0470
                     Medium             12.60         0.048830  142.0154

                                  Outlet_Establishment_Year  Item_Outlet_Sales
Outlet_Location_Type Outlet_Size
Tier 1               Medium                          1999.0          1966.1074
                     Small                           1997.0          1040.6454
Tier 2               Small                           2004.0          2109.2544
Tier 3               High                            1987.0          2050.6640
                     Medium                          1985.0          2350.9398

In [58]:
# check the basic characteristics missing data
nullRowsOutletSize.groupby(['Outlet_Location_Type']).median()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
Outlet_Location_Type,,,,,
Tier 2,12.5,0.050065,141.9154,2002.0,1946.7992
Tier 3,12.6,0.088258,143.9128,1998.0,250.3408

Based on the `Item_Outlet_Sales`, we can use the following rules to assign a value to the `missing Outlet_Location_Type`.

In [59]:
df.loc[(df['Outlet_Location_Type'] == 'Tier 2') & (df['Outlet_Size'].isna()), 'Outlet_Size'] = 'Small'
df.loc[(df['Outlet_Location_Type'] == 'Tier 3') & (df['Outlet_Size'].isna()), 'Outlet_Size'] = 'Small'

###8. For any numerical columns, obtain the summary statistics of each (min, max, mean)

In [ ]:
df_cleaned.describe()